<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>@ViewBag.Title  | Manuel Hareketler</title>

    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/AdminLTE/adminlte.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Plugins/fontawesome-free/css/all.min.css")" rel="stylesheet" />
    <link href="~/Content/toastr.min.css" rel="stylesheet" />
    <link href="~/Content/Chart.min.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

        @if (@HttpContext.Current.Session["userType"].ToString() == "A")
        {
            @Html.Partial("_NavBar")
            @Html.Partial("_SideBar")
        }
        else
        {
            @Html.Partial("_NavBarUser")
            @Html.Partial("_SideBarUser")
        }

        <div class="content-wrapper">
            @RenderBody()
        </div>
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
            <div class="p-3">
                <h5>Title</h5>
                <p>Sidebar content</p>
            </div>
        </aside>
        <!-- /.control-sidebar -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <strong>Manuel Hareketler &copy; @DateTime.Now.Year </strong>

            <div class="float-right d-none d-sm-inline-block">
                <b><a href="http://wat.com.tr">WAT Elektrik Motorları</a></b>
            </div>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    <script src="@Url.Content("~/Plugins/bootstrap/js/bootstrap.bundle.min.js")"></script>
    <script src="@Url.Content("~/Scripts/AdminLTE/adminlte.min.js")"></script>
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/toastr.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script src="~/App/app.js"></script>
    <script src="~/App/controller.js"></script>
    <script src="~/Scripts/Chart.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
